<div id="<%= dom_id(question) %>" class='question'>
  <div class='question_question'>
    <div class='question_asked_by'>
      <%= t('asked_by_user_at_time', user: question.asked_by_user.try(:name) || 'Unknown', timestamp: long_timestamp(question.created_at)).html_safe %>
    </div>
    <blockquote class='question_question_text'><%= format_textarea_input(question.question_text) %></blockquote>
  </div>



  <div class="question_answer">
    <% if policy(@opportunity).answer_questions? %>
      <div class="question_answer_form">
        <%= simple_form_for [@opportunity, question], html: { style: 'display:none', 'data-toggle' => "edit-answer-#{question.id}" } do |f| %>
          <%= f.input_field :answer_text, 'aria-label' => t('answer_text'), placeholder: t('write_your_answer_here')  %>
          <% if question.answered? %>
            <%= f.button :button,  t('save_changes'), class: 'primary small' %>
          <% else %>
            <%= f.button :button,  t('publish'), class: 'primary small' %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class='question_answer_text_wrapper' data-toggle='edit-answer-<%= question.id %>'>
      <% if question.answered? %>
          <div class='question_answered_by'>
            <%= t('answered_by_user', user: question.answered_by_user.try(:name) || 'Unknown') %>
          </div>
          <div class='question_answer_text'><%= format_textarea_input(question.answer_text) %></div>
      <% end %>
    </div>

    <% if policy(@opportunity).answer_questions? %>
      <ul class='question_admin_links'>
        <li>
          <a href='#' data-toggle-visible='[data-toggle=edit-answer-<%= question.id %>]'>
            <% if question.answered? %>
              <%= t('edit_answer') %>
            <% else %>
              <%= t('write_an_answer') %>
            <% end %>
          </a>
        </li>

        <li>
          <a href='<%= opportunity_question_path(@opportunity, question) %>' data-method='delete' data-confirm='<%= t('confirm_delete_question') %>'>
            <%= t('destroy_question') %>
          </a>
        </li>
      </ul>
    <% end %>
  </div>
</div>
