<%= f.input :department_id, as: :select, collection: Department.all %>
<%= f.input :description %>
<%= f.input :contact_name %>
<%= f.input :contact_email %>
<%= f.input :contact_phone %>
<%= f.input :publish_at, as: :datetime_picker %>
<%= f.input :category_ids, as: :select, collection: Category.all, input_html: { multiple: true } %>

<%= f.input :attachments do %>
  <ul class='js-attachments-list'>
    <% @opportunity.attachments.each do |attachment| %>
      <%= render partial: 'edit_attachment', locals: { attachment: attachment } %>
    <% end %>
  </ul>

  <div>
    <label for='attachment_upload'>Upload new attachment</label>
    <input type='file' id='attachment_upload' style='position:fixed;left:-9999px;' data-ifu-options="<%= { action: opportunity_attachments_path(@opportunity), method: :post }.to_json %>" />
  </div>
<% end %>
