<% content_for(:page_title, t('sign_in')) %>
<% content_for(:page_key, 'sign-in') %>
<% content_for(:main_container_class, 'container_tiny') %>

<div class='page_header page_header_simple'>
  <h2><%= t('sign_in') %></h2>
</div>

<p class='simple_alert'>
  <%= t('sign_in_reg_hint_html', vendor_href: new_user_registration_path(type: 'vendor'), staff_href: new_user_registration_path(type: 'staff')) %>
</p>

<%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
  <%= f.input :email, required: false, autofocus: true %>
  <%= f.input :password, required: false , hint: link_to(t('forgot'), new_password_path(resource_name)).html_safe
  %>
  <div class='form_item form_item_vert'>
    <label class='control small'><input type='checkbox' value='1' name='user[remember_me]' id='user_remember_me'> Keep me logged in for two weeks</label>
  </div>
  <%= f.button :submit, t('sign_in'), class: 'primary' %>
<% end %>

  <%- if devise_mapping.confirmable? %>
    <p class="signin_link"><%= link_to "Resend confirmation email", new_confirmation_path(resource_name) %></p>
  <% end -%>
