<div class='recent_opps'>
  <% if @recent_opportunities.present? %>
    <h2><%= t('.title') %></h2>
    <ul>
      <% @recent_opportunities.each do |opportunity| %>
        <li>
          <a href='<%= opportunity_path(opportunity) %>'>
            <span><%= opportunity.title %></span>
            <%= relative_timestamp(opportunity.posted_at) %>
          </a>
        </li>
      <% end %>
    </ul>

     <p class="recent_opps_more"><a href='<%= opportunities_path %>' class='button_uppercase'><%= t('.see_more') %></a></p>
  <% end %>
</div>
