<div class='recent_opps'>
  <h2><%= t('.title') %></h2>
  <% if @recent_opportunities.present? %>
  <ul>
    <% @recent_opportunities.each do |opportunity| %>
      <li>
        <a href='<%= opportunity_path(opportunity) %>'>
          <span><%= opportunity.title %></span>
          <%= relative_timestamp(opportunity.posted_at) %>
        </a>
      </li>
    <% end %>
  </ul>

   <p class="recent_opps_more"><a href='<%= opportunities_path %>' class='button_uppercase'><%= t('.browse_all') %> &rarr;</a></p>
<% else %>
  <p><%= t('no_opportunities_found') %></p>
<% end %>
</div>
