<h2>
  <%= t('.title') %>
  <small><a href='<%= opportunities_path %>'><%= t('.browse_all') %></a></small>
</h2>

<% if @recent_opportunities.present? %>
  <ul>
    <% @recent_opportunities.each do |opportunity| %>
      <li>
        <a href='<%= opportunity_path(opportunity) %>'><%= opportunity.title %></a>
        <span><%= t('posted_time_ago', time_ago: time_ago_in_words(opportunity.posted_at)) %></span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('no_opportunities_found') %></p>
<% end %>
