<%= render('greeting') %>

<p>
  <%= t('mailer.question_asked.body_html', href: opportunity_url(@question.opportunity), title: @question.opportunity.title) %>
</p>

<p class='mailer_additional_text'>
  <%= format_textarea_input(@question.question_text) %>
</p>

<p class='centered padding'>
  <a class='btn-primary' href='<%= opportunity_url(@question.opportunity) + '#' + dom_id(@question) %>'><%= t('answer_question') %> &rarr;</a>
</p>
