<% if policy(@opportunity).subscribe? %>
  <li>
    <a href='<%= subscribe_opportunity_path %>' data-method='post'>
      <% if current_user.opportunities.include?(@opportunity) %>
        <%= t('subscribed') %>
      <% else %>
        <%= t('subscribe') %>
      <% end %>
    </a>
  </li>
<% elsif OpportunityPolicy.new(User.new, @opportunity).subscribe? %>
  <li>
    <% # @todo redirect after login %>
    <a href='<%= new_user_session_path %>'><%= t('subscribe') %></a>
  </li>
<% end %>
