<% if policy(@opportunity).edit? %>
  <div class='alert'>
    <span class='alert_message'><%= opportunity_status_text %></span>
    <span class='alert_buttons'>
      <a class='button info' href='<%= edit_opportunity_path %>'><%= t('edit') %></a>

      <% if policy(@opportunity).approve? %>
        <a class='button' href='<%= approve_opportunity_path %>' data-method='post'>
          <%= @opportunity.approved? ? t('unapprove') : t('approve') %>
        </a>
      <% elsif !@opportunity.approved? && !@opportunity.submitted_for_approval? %>
        <a class='button' href='<%= request_approval_opportunity_path %>' data-method='post'><%= t('request_approval') %></a>
      <% end %>
    </span>
  </div>
<% end %>
