<% if @opportunity.approved? %>
  <div class='alert'>
    <span class='alert_message'>
      <%= t('opportunity_admin_status.waiting_for_publish_date', timestamp: long_timestamp(@opportunity.publish_at)).html_safe %>
    </span>
    <% if policy(@opportunity).edit? %>
      <span class='alert_buttons'>
        <a class='button' href='<%= edit_opportunity_path %>'><%= t('edit') %></a>
      </span>
    <% end %>
  </div>
<% elsif policy(@opportunity).approve? %>
  <div class='alert'>
    <span class='alert_message'><%= t('opportunity_admin_status.pending_approval') %></span>
    <span class='alert_buttons'>
      <a class='button' href='<%= edit_opportunity_path %>'><%= t('keep_editing') %></a>
      <a class='button primary' href='<%= approve_opportunity_path %>' data-method='post'><%= t('approve') %></a>
    </span>
  </div>
<% elsif policy(@opportunity).edit? %>
  <div class='alert'>
    <span class='alert_message'>
      <% if @opportunity.submitted_for_approval? %>
        <%= t('opportunity_admin_status.submitted_for_approval', timestamp: long_timestamp(@opportunity.submitted_at)).html_safe %>
      <% else %>
        <%= t('opportunity_admin_status.not_approved') %>
      <% end %>
    </span>
    <span class='alert_buttons'>
      <a class='button' href='<%= edit_opportunity_path %>'><%= t('edit') %></a>

      <% if !@opportunity.submitted_for_approval? %>
        <a class='button primary' href='<%= request_approval_opportunity_path %>' data-method='post'><%= t('request_approval') %></a>
      <% end %>
    </span>
  </div>
<% end %>
