<% if policy(@opportunity).edit? %>
  <div>
    <span><%= opportunity_status_text %></span>
    <ul>
      <li><a href='<%= edit_opportunity_path %>'><%= t('edit') %></a></li>

      <% if policy(@opportunity).approve? %>
        <li>
          <a href='<%= approve_opportunity_path %>' data-method='post'>
            <%= @opportunity.approved? ? t('unapprove') : t('approve') %>
          </a>
        </li>
      <% end %>

      <% if !policy(@opportunity).approve? && !@opportunity.approved? && !@opportunity.submitted_for_approval? %>
        <li>
          <a href='<%= request_approval_opportunity_path %>' data-method='post'><%= t('request_approval') %></a>
        </li>
      <% end %>

      <% if policy(@opportunity).destroy? %>
        <li>
          <a href='<%= opportunity_path %>' data-method='delete' data-confirm='<%= t('confirm_alert') %>'><%= t('destroy') %></a>
        </li>
      <% end %>
    </span>
  </div>
<% end %>
