<%= simple_form_for :opportunity_filters, action: url_for, method: :get do |f| %>
  <input type='hidden' name='sort' value='<%= @opportunities.filterer.sort %>' />
  <input type='hidden' name='direction' value='<%= @opportunities.filterer.direction %>' />

  <%= f.input :text, required: false, input_html: { value: @opportunities.filterer.params[:text] } %>
  <%= f.input :status, required: false, as: :select, collection: [['Open', 'open'], ['Closed', 'closed'], ['All', 'all']], include_blank: false, selected: @opportunities.filterer.params[:status] %>
  <%= f.input :category_ids, required: false, as: :select, collection: Category.all, selected: @opportunities.filterer.params[:category_ids], input_html: { multiple: true } %>

  <%= f.button :button, t('filter_opportunities') %>
<% end %>

<% if filtered? %>
  <a href='<%= url_for(pick(params, :sort, :direction)) %>'><%= t('clear_filters') %></a>
  <br />
  <a href='<%= feed_opportunities_path(params.merge(format: :xml)) %>'>RSS Feed for this search</a>
  <br />
  <a href='<%= saved_searches_path(pick(@opportunities.filterer.params, *SavedSearch::PERMITTED_SEARCH_PARAMS)) %>' data-method='post'>Save this search</a>
<% end %>
