<% if @opportunity.questions.unanswered_first.present? %>
  <div class='opportunity_section'>
    <div class='page_subheader'>
      <h4 id='questions'><i class='fa fa-comments'></i> <%= t('questions') %></h4>
    </div>
    <div class='questions'>
      <%= render @opportunity.questions.unanswered_first %>
    </div>
  </div>
<% end %>

<% if policy(@opportunity).ask_question? %>
  <div class='opportunity_section'>
    <div class='page_subheader'>
      <h4><i class='fa fa-comment'></i> <%= t('ask_question') %></h4>
    </div>
    <%= simple_form_for [@opportunity, @opportunity.questions.build] do |f| %>
      <%= f.input_field :question_text, placeholder: t('write_your_question'), 'aria-label' => t('question_text') %>
      <%= f.button :button, t('ask'), class: 'primary' %>
    <% end %>
  </div>
<% end %>
