<table>
  <thead>
    <tr>
      <th><%= sortable_table_header @opportunities, 'title', t('title') %></th>
      <th><%= sortable_table_header @opportunities, 'department', t('department') %></th>
      <th><%= sortable_table_header @opportunities, 'submissions_close_at', t('deadline') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @opportunities.present? %>
      <% @opportunities.each do |opportunity| %>
        <tr>
          <td>
            <a href='<%= opportunity_path(opportunity) %>'><%= opportunity.title %></a>
          </td>
          <td>
            <% if opportunity.department %>
              <%= opportunity.department.name %>
            <% else %>
              <span class='none'><%= t('no_department') %></span>
            <% end %>
          </td>
          <td>
            <% if opportunity.submissions_close_at %>
              <%= opportunity.submissions_close_at %>
            <% else %>
              <span class='none'><%= t('no_deadline') %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan='3'><%= t('no_results') %></td>
      </td>
    <% end %>
  </tbody>
</table>

<%= paginate @opportunities %>
