<% if policy(@opportunity).subscribe? %>
  <a class='button primary icon_l <% if current_user.opportunities.include?(@opportunity) %>disabled<% end %>' href='<%= subscribe_opportunity_path %>' data-method='post'>
    <% if current_user.opportunities.include?(@opportunity) %>
      <i class='fa fa-check'></i>
      <%= t('reminded') %>
    <% else %>
      <i class='fa fa-bell-o'></i>
      <%= t('remind_me') %>
    <% end %>
  </a>
<% elsif OpportunityPolicy.new(User.new, @opportunity).subscribe? %>
  <% # @todo redirect after login %>
  <a class='button primary' href='<%= new_user_session_path %>'><%= t('remind_me') %></a>
<% end %>
