<% content_for(:page_key, 'opportunities-index') %>
<% content_for(:page_title, t('browse_opportunities')) %>

<div class='page_header page_header_action'>
  <h2><%= t('browse_opportunities') %></h2>

  <div class='page_header_action_button'>
    <span class='search_result_count'>
      <% if filtered? %>
        <%= t('num_results', count: @opportunities.total_count) %>
      <% else %>
        <%= t('num_opportunities', count: @opportunities.total_count) %>
      <% end %>
    </span>

    <button class="filter_button_mobile js-toggle-filters" aria-label='<%= t('filter') %>'>
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<div class='grid'>
  <div class='item lap_five_columns desk_four_columns'>
    <%= render 'filter_form' %>
  </div>
  <div class='item lap_seven_columns desk_eight_columns'>
    <%= render 'search_results' %>
  </div>
</div>
