<% content_for(:page_key, 'opportunities-pending') %>
<% content_for(:page_title, t('approve')) %>
<% content_for(:main_container_class, 'container_tiny') %>

<% if @pending_approval_opportunities.present? %>
  <div class='page_header page_header_simple'>
    <h2><%= t('.pending_approval.title', count: @pending_approval_opportunities.length) %></h2>
  </div>

  <p class="simple_alert"> <%= t('.pending_approval.hint') %></p>

  <ul>
    <% @pending_approval_opportunities.each do |opportunity| %>
      <%= render partial: 'pending_item', locals: { opportunity: opportunity } %>
    <% end %>
  </ul>
<% else %>
  <div class='blank_slate'>
    <i class='fa fa-check'></i>
    <h4><%= t('.pending_approval.none.title') %></h4>
    <span><%= t('.pending_approval.none.hint') %></span>
  </div>
<% end %>

<% if @pending_publish_opportunities.present? %>
  <div class='page_header page_header_simple page_header_pending_opportunities'>
    <h2><%= t('.pending_publish.title', count: @pending_publish_opportunities.length) %></h2>
  </div>

  <ul>
    <% @pending_publish_opportunities.each do |opportunity| %>
      <%= render partial: 'pending_item', locals: { opportunity: opportunity } %>
    <% end %>
  </ul>
<% end %>
