<% if @pending_approval_opportunities.present? %>
  <h2><%= t('.pending_approval.title') %> (<%= @pending_approval_opportunities.length %>)</h2>

  <ul>
    <% @pending_approval_opportunities.each do |opportunity| %>
      <%= render partial: 'pending_item', locals: { opportunity: opportunity } %>
    <% end %>
  </ul>
<% end %>

<h2><%= t('.pending_publish.title') %></h2>
<p><%= t('.pending_publish.hint') %></p>

<% if @pending_publish_opportunities.present? %>
  <ul>
    <% @pending_publish_opportunities.each do |opportunity| %>
      <%= render partial: 'pending_item', locals: { opportunity: opportunity } %>
    <% end %>
  </ul>
<% else %>
  <p><%= t('.pending_publish.none') %></p>
<% end %>
