<%= content_for(:active_nav, 'browse_opps') %>

<h2><%= @opportunity.title %></h2>

<%= render('admin_status') %>

<div class='layout_with_sidebar_right'>
  <div class='sidebar'>
    <%= render('actions') %>
  </div>
  <div class='content'>
    <%= render('description') %>
  </div>
</div>
