<footer class="footer container">
  <div class="footer_inner">
    <span>
      <%= DispatchConfiguration.site_title %> is built by
      <a href="https://www.dobt.co" target="_blank">The Department of Better Technology</a>.
    </span>
    <ul>
      <% Array(DispatchConfiguration.static_pages).each do |page| %>
        <li>
          <a href="/<%= page['path'] %>"><%= page['name'] %></a>
        </li>
      <% end %>

      <% Array(DispatchConfiguration.footer_links).each do |link| %>
        <li>
          <a href="<%= link['href'] %>"><%= link['text'] %></a>
        </li>
      <% end %>
    </ul>
  </div>
</footer>
