<navbar class='navbar'>
  <a class='navbar_title' href='<%= root_path %>'>Beacon</a>

  <ul class='navbar_links'>
    <li <% if content_for(:active_nav) == 'browse_opps' %>class='active'<% end %>>
      <a href='<%= opportunities_path %>'>Browse opportunities</a>
    </li>

    <% if policy(:opportunity).create? %>
      <li <% if content_for(:active_nav) == 'post_opp' %>class='active'<% end %>>
        <a href='<%= new_opportunity_path %>'>Post opportunity</a>
      </li>
    <% end %>

    <% if policy(:opportunity).approve? %>
      <li <% if content_for(:active_nav) == 'approve_opps' %>class='active'<% end %>>
        <a href='#'>Approve opportunities (<%= Opportunity.not_approved.count %>)</a>
      </li>
    <% end %>

    <% if current_user.try(:admin?) %>
      <li>
        <a href='<%= admin_root_path %>'>Admin</a>
      </li>
    <% end %>
  </ul>

  <div class='navbar_user'>
    <% if signed_in? %>
      <span>Signed in as <%= current_user.name %>.</span>
      <a href='<%= destroy_user_session_path %>' data-method='delete'>Sign out</a>
    <% else %>
      <a href='<%= new_user_session_path %>'>Sign in</a>
    <% end %>
  </div>
</navbar>
