<navbar class='navbar'>
  <h1>Beacon</h1>

  <ul class='navbar_links'>
    <li>
      <a href='#'>Browse opportunities</a>
    </li>

    <% if policy(:opportunity).post? %>
      <li>
        <a href='#'>Post opportunity</a>
      </li>
    <% end %>

    <% if policy(:opportunity).approve? %>
      <li>
        <a href='#'>Approve opportunities (<%= Opportunity.not_approved.count %>)</a>
      </li>
    <% end %>

    <% if current_user.try(:admin?) %>
      <li>
        <a href='<%= admin_root_path %>'>Admin</a>
      </li>
    <% end %>
  </ul>

  <div class='navbar_user'>
    <% if signed_in? %>
      <span>Signed in as <%= current_user.name %>.</span>
      <a href='<%= destroy_user_session_path %>' data-method='delete'>Sign out</a>
    <% else %>
      <a href='<%= new_user_session_path %>'>Sign in</a>
    <% end %>
  </div>
</navbar>
