<navbar class='navbar'>
  <a class='navbar_title' href='<%= root_path %>'><%= BeaconConfiguration.site_title %></a>

  <ul class='navbar_links'>
    <li <% if parameterized_controller_and_action == 'opportunities-index' %>class='active'<% end %>>
      <a href='<%= opportunities_path %>'><%= t('browse_opportunities') %></a>
    </li>

    <% if policy(:opportunity).create? %>
      <li <% if parameterized_controller_and_action == 'opportunities-new' %>class='active'<% end %>>
        <a href='<%= new_opportunity_path %>'><%= t('post_opportunity') %></a>
      </li>
    <% end %>

    <% if policy(:opportunity).approve? || policy(:opportunity).create? %>
      <li <% if parameterized_controller_and_action == 'opportunities-pending' %>class='active'<% end %>>
        <a href='<%= pending_opportunities_path %>'>
          <% if policy(:opportunity).approve? %>
            <%= t('approve_opportunities') %> (<%= Opportunity.not_approved.count %>)
          <% else %>
            <%= t('pending_opportunities') %>
          <% end %>
        </a>
      </li>
    <% end %>

    <% if current_user.try(:admin?) %>
      <li>
        <a href='<%= admin_root_path %>'><%= t('admin') %></a>
      </li>
    <% end %>
  </ul>

  <div class='navbar_user'>
    <% if signed_in? %>
      <span><%= t('signed_in_as_user_html', user: current_user.name, href: edit_user_registration_path) %></span>
      <a href='<%= destroy_user_session_path %>' data-method='delete'><%= t('sign_out') %></a>
    <% else %>
      <a href='<%= new_user_session_path %>'><%= t('sign_in') %></a>
    <% end %>
  </div>
</navbar>
