<navbar class='navbar'>
  <a class='navbar_title' href='<%= root_path %>'>Beacon</a>

  <ul class='navbar_links'>
    <li <% if parameterized_controller_and_action == 'opportunities-index' %>class='active'<% end %>>
      <a href='<%= opportunities_path %>'>Browse opportunities</a>
    </li>

    <% if policy(:opportunity).create? %>
      <li <% if parameterized_controller_and_action == 'opportunities-new' %>class='active'<% end %>>
        <a href='<%= new_opportunity_path %>'>Post opportunity</a>
      </li>
    <% end %>

    <% if policy(:opportunity).approve? %>
      <li <% if parameterized_controller_and_action == 'awaiting_approval' %>class='active'<% end %>>
        <a href='#'>Approve opportunities (<%= Opportunity.not_approved.count %>)</a>
      </li>
    <% end %>

    <% if current_user.try(:admin?) %>
      <li>
        <a href='<%= admin_root_path %>'>Admin</a>
      </li>
    <% end %>
  </ul>

  <div class='navbar_user'>
    <% if signed_in? %>
      <span>Signed in as <%= current_user.name %>.</span>
      <a href='<%= destroy_user_session_path %>' data-method='delete'>Sign out</a>
    <% else %>
      <a href='<%= new_user_session_path %>'>Sign in</a>
    <% end %>
  </div>
</navbar>
