<!doctype html>
<head>
  <title><%= calculated_page_title %></title>
  <!--[if lt IE 9]><script src="//d2yxgjkkbvnhdt.cloudfront.net/dist/shim.js"></script><![endif]-->
  <%= stylesheet_link_tag('application', media: 'all') %>
  <%= yield(:extra_css) %>
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='alternate' type='application/rss+xml' title='RSS feed' href='<%= feed_opportunities_path(format: :xml) %>' />
  <%= csrf_meta_tags %>
  <% unless Rails.env.test? %>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <% end %>
  <script>window.jQuery || document.write('<script src="/non_digest_assets/jquery.js"><\/script>')</script>
</head>
<body class="<%= parameterized_controller_and_action %>" data-page-key="<%= parameterized_controller_and_action %>">
  <%= render('navbar') %>
  <%= render('inner_layout') %>
  <%= javascript_include_tag('application') %>
  <%= yield(:extra_js) %>
  <!--[if lt IE 9]><script src="//d2yxgjkkbvnhdt.cloudfront.net/dist/polyfills.js"></script><![endif]-->
</body>
</html>
