<h2>Your account</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <input type='hidden' name='type' value='account' />

  <%= f.error_notification %>

  <% unless current_user.permission_level_is_at_least?('staff') %>
    <%= f.input :business_name, required: true %>
  <% end %>

  <%= f.input :name %>
  <%= f.input :email, required: true %>

  <a href='<%= edit_user_registration_path(type: 'password') %>'>Change password</a>

  <%= f.button :button %>
<% end %>

<h3><%= t('saved_searches') %></h3>
<% if current_user.saved_searches.present? %>
  <ul>
    <% current_user.saved_searches.each do |saved_search| %>
      <li>
        <%= t('search_saved_at_time', time: saved_search.created_at) %>
        <a href='<%= opportunities_path(saved_search.search_params) %>'><%= t('view_search') %></a>
        <a href='<%= saved_search_path(saved_search) %>' data-method='delete' data-remote class='js-destroy-saved-search'><%= t('destroy') %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('no_saved_searches') %></p>
<% end %>
