<% content_for(:page_title, 'Your account') %>
<% content_for(:main_container_class, 'container_tiny') %>

<div class='page_header page_header_simple'>
  <h2>Your account</h2>
</div>

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
  <input type='hidden' name='type' value='account' />

  <% unless current_user.permission_level_is_at_least?('staff') %>
    <%= f.input :business_name, label: t('business_name'), required: true %>

    <%= f.simple_fields_for :business_data, OpenStruct.new(f.object.business_data) do |f| %>
      <%= render partial: 'business_data', locals: { f: f } %>
    <% end %>
  <% end %>

  <%= f.input :name, label: t('full_name') %>

  <% if current_user.omniauthed? %>
    <p>You are signed in with <%= current_user.omniauth_provider_text %>.</p>
  <% else %>
    <%= f.input :email, required: true %>

    <%= f.input :password, hint: false do %>
      <span class='password_shim'>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
      <a href='<%= edit_user_registration_path(type: 'password') %>' class='button mini'>Change</a>
    <% end %>
  <% end %>

  <%= f.button :button, t('save_changes'), class: 'primary' %>
<% end %>

<%= render 'saved_searches' %>
<%= render 'my_opportunities' %>
