<% content_for(:page_title, 'Vendor sign up') %>
<% content_for(:main_container_class, 'container_tiny') %>

<div class='page_header'>
  <h2>Vendor sign up</h2>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <input type='hidden' name='type' value='vendor' />

  <%= f.error_notification %>

  <div class='page_subheader'>
    <h3>1. Tell us about your business</h3>
  </div>

  <%= f.input :business_name, required: true %>

  <div class='page_subheader'>
    <h3>2. Create a login</h3>
  </div>

  <%= f.input :name %>
  <%= f.input :email, required: true %>
  <%= f.input :password, required: true %>

  <div class='page_subheader'>
    <h3>3. Choose notifications</h3>
  </div>

  <%= f.input :subscribe_to_category_ids, as: :select, collection: Category.all, input_html: { multiple: true, 'data-no-styled-select' => true } %>

  <div class='page_subheader'>
    <h3>4. Confirm your email address</h3>
  </div>

  <p>
    After you submit this form, we'll send you an email address with a link.
    You must click that link to access the system.
  </p>

  <%= f.button :button, class: 'primary' %>
<% end %>

<%= render "users/shared/links" %>
