<% content_for(:page_title, t('.title', agency: DispatchConfiguration.agency_name)) %>
<% content_for(:main_container_class, 'container_tiny') %>

<div class='page_header page_header_simple'>
  <h2><%= t('.title', agency: DispatchConfiguration.agency_name) %></h2>
</div>

<p>
</p>

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
  <input type='hidden' name='type' value='staff' />

  <%= f.input :name, label: t('.name') %>
  <%= f.input :email, label: t('.email', domain: DispatchConfiguration.staff_domains.map { |x| "@#{x}" }.to_sentence(words_connector: ' or ', two_words_connector: ' or ', last_word_connector: ', or ')).html_safe, required: true %>
  <%= f.input :password, label: t('.password'), hint: t('password_hint'), required: true %>

  <%= f.button :button, t('sign_up'), class: 'primary' %>
<% end %>
