<h2>Vendor sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <input type='hidden' name='type' value='vendor' />

  <%= f.error_notification %>

  <h3>1. Tell us about your business</h3>
  <%= f.input :business_name, required: true %>

  <h3>2. Create a login</h3>
  <%= f.input :name %>
  <%= f.input :email, required: true %>
  <%= f.input :password, required: true %>

  <h3>3. Choose notifications</h3>
  <%= f.input :category_ids, as: :select, collection: Category.all, input_html: { multiple: true } %>

  <h3>4. Confirm your email address</h3>
  After you submit this form, we'll send you an email address with a link. You must click that link to access the system.</p>
  <%= f.button :button %>
<% end %>

<%= render "users/shared/links" %>
