<% content_for(:page_title, t('.title')) %>
<% content_for(:main_container_class, 'container_tiny') %>

<div class='page_header page_header_simple'>
  <h2><%= t('.title', agency: DispatchConfiguration.agency_name) %></h2>
</div>

<p>
  <%= t('.email_domain_hint', domains: DispatchConfiguration.staff_domains.map { |x| "<strong>@#{x}</strong>" }.to_sentence(words_connector: ' or ', two_words_connector: ' or ', last_word_connector: ', or ')).html_safe %>
</p>

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
  <input type='hidden' name='type' value='staff' />

  <%= f.input :name %>
  <%= f.input :email, required: true %>
  <%= f.input :password, required: true %>

  <%= f.button :button, t('create_account'), class: 'primary' %>
<% end %>
